html, body {
    font-family: "Arial", serif;
    margin: 0;
    background-color: #F5FFFA;
}

h4 {
    font-weight: 600;
    font-size: 22px;
    margin: 0;
}

h6 {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}
button {
    background-color:#ededed;
	border-radius:6px;
    border:1px solid #dcdcdc;
    color:#777777;
    padding:6px 10px;
    cursor:pointer;
}
button:focus {
    outline: #dcdcdc auto 1px;
}

#mapToggle {
    margin: 1rem 0;
}

.title {
    margin-right: 13.5rem;
    text-transform: uppercase;
}

main {
    text-align: center;
}
.container {
    width: 1095px;
    margin-left: auto;
    margin-right: auto;
}

#board {
    display: flex;
    justify-content: center;
    align-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row.header {
    justify-content: flex-end;
}

.card {
    width: 195px;
    padding: 8px;
    border-radius: 12px;
    margin: 4px;
    background-color: #f3ddc5;
    cursor:pointer;
}

.box {
    padding: 8px;
    border: 2px solid #9f8e7c;
    border-radius: 12px;
}
.small {
    font-style: italic;
    transform: rotate(180deg);
    padding: 4px;
    text-align: center;
    margin-right: 14px;
    color: #69573f;
    border-top: 2px solid #9f8e7c;
    margin-bottom: 6px;
    padding-bottom: 20px;
    flex-grow: 2;
}
.large {
    background: #eee;
    border-radius: 4px;
    padding: 4px;
    text-align: center;
}

.profile {
    height: 32px;
    width: 32px;
    margin-right: 2px;
    margin-top: 1px;
    background-color: #dccec1;
    flex-basis: 35px;
    border: 2px solid #ebd9c5;
}

.red {
    background-color: #e8333b;
}

.blue {
    background-color: #3ca4c8;
}

.black {
    background-color: #35362a;
}

.brown {
    background: #c5b9a9;
}

.block.brown {
    background-color: #f3ddc5;
}

.map-section {
    height: 20rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 17rem;
}

.hidden {
    display: none;
}

.map {
    background-color: #0e0a09;
    padding: 5px;
    border-radius: 8px;
    border: 10px solid #915533;
}

.map > .row {
    width: 220px;
}

.block {
    width: 40px;
    height: 32px;
    margin: 2px;
    border-radius: 4px;
}

.json {
    margin-top: 5rem;
    text-align: left;
}

/******** CARD FLIPPED STYLES *********/

.blue > .box {
    border-color: #238BAF;
}

.blue > .box > .row > .small {
    border-color: #238BAF;
    color: #238BAF;
}

.blue > .box > .row > .profile {
    border-color: #238BAF;
    background-color: transparent;
}

.blue > .box > .large {
    color: #238BAF;
}

.red > .box {
    border-color: #CF1A22;
}

.red > .box > .row > .small {
    border-color: #CF1A22;
    color: #CF1A22;
}

.red > .box > .row > .profile {
    border-color: #CF1A22;
    background-color: transparent;
}

.red > .box > .large {
    color: #CF1A22;
}

.brown > .box {
    border-color: #ACA090;
}

.brown > .box > .row > .small {
    border-color: #ACA090;
    color: #ACA090;
}

.brown > .box > .row > .profile {
    border-color: #ACA090;
    background-color: #ACA090;
}

.brown > .box > .large {
    color: #ACA090;
}

.black > .box {
    border-color: #4F5044;
}

.black > .box > .row > .small {
    border-color: #4F5044;
    color: #E8E9DD;
}

.black > .box > .row > .profile {
    border-color: #4F5044;
    background-color: transparent;
}

.black > .box > .large {
    color: #E8E9DD;
}

/******** /end CARD FLIPPED STYLES *********/

/******** SCOREBOARD *********/
.scoreboard {
    display: flex;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin: 1rem 1rem 0 1rem;
}
.scoreboard > .red, .scoreboard > .blue {
    color: white;
    padding: 10px 40px;
}

.scoreboard > .red {
    border-top-left-radius: 5px;
}

.scoreboard > .blue {
    border-top-right-radius: 5px;
}

.turn {
    background: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 6px;
    border-radius: 5px;
    font-weight:bold;
}
.turn.red {
    border: 5px solid #e8333b;
    color: #e8333b;
}

.turn.blue {
    border: 5px solid #3ca4c8;
    color: #3ca4c8;
}

.turn.black {
    border: 5px solid #35362a;
    color: #35362a;
}
#endTurnButton {
    position: relative;
    top: -37px;
    left: 111px;
}