html {
	font-family: "Arial", serif;
	margin: 0;
	background-color: $color-background-light-blue;
}
body {
	margin: 0;
	background-color: $color-background-light-blue;
}
h4 {
	font-weight: 600;
	font-size: 22px;
	margin: 0;
}
h6 {
	font-weight: 600;
	font-size: 14px;
	margin: 0;
}
main {
	text-align: center;
}
button {
	background-color: $color-button-grey;
	@include border-radius(6px)
	border: 1px solid $color-button-border-grey;
	color: $color-button-font-grey;
	padding: 6px 10px;
	cursor: pointer;
	&:focus {
		outline: $color-button-border-grey auto 2px;
	}
}
.row {
	display: flex;
	flex-wrap: wrap;
}